@import "tailwindcss";

.price-btn {
  @apply border border-white/40 bg-white/10 rounded-lg p-4 text-center transition hover:bg-white/20;
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }

  .card {
    view-timeline: --subjectReveal block;
    animation-timeline: --subjectReveal;

    animation-name: appear;
    animation-range: entry 5% cover 30%;
    animation-fill-mode: both;
    animation-duration: 1ms;
  }

  @keyframes pulse-ring {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }

  .animate-pulse-ring::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: rgba(0, 193, 149, 0.5);
    z-index: 0;
    animation: pulse-ring 1.5s infinite;
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: scale(0.7);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}
