<form class="my-8 text-white z-40">
  <div
    class="mb-4 flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2"
  >
    <div class="flex w-full flex-col space-y-2">
      <label
        class="text-base font-medium text-white leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="firstname">Nombre</label
      >
      <div
        class="group/input rounded-lg transition duration-300"
        style="background: radial-gradient(0px at 160.8px 35.2px, rgb(0, 193, 149), transparent 80%); opacity: 1; transform: none;"
      >
        <input
          class="flex h-10 w-full rounded-md border-none placeholder:text-white/80 bg-[#00353d] px-3 py-2 text-sm transition duration-500 group-hover/input:shadow-none file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:ring-2 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 text-white shadow-[0px_0px_1px_1px_#00c195] focus-visible:ring-white"
          id="firstname"
          placeholder="Radio"
          type="text"
        />
      </div>
    </div>

    <div class="flex w-full flex-col space-y-2">
      <label
        class="text-base font-medium text-white leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
        for="lastname">Apellido</label
      ><div
        class="group/input rounded-lg transition duration-300"
        style="background: radial-gradient(0px at 376.8px 2.19998px, rgb(0, 193, 149), transparent 80%); opacity: 1; transform: none;"
      >
        <input
          class="flex h-10 w-full rounded-md border-none placeholder:text-white/80 bg-[#00353d] px-3 py-2 text-sm transition duration-500 group-hover/input:shadow-none file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:ring-2 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 text-white shadow-[0px_0px_1px_1px_#00c195] focus-visible:ring-white"
          id="lastname"
          placeholder="Dándelion"
          type="text"
        />
      </div>
    </div>
  </div>

  <div class="flex w-full flex-col space-y-2 mb-4">
    <label
      class="text-base font-medium text-white leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
      for="email">Direccion de Email</label
    ><div
      class="group/input rounded-lg transition duration-300"
      style="background: radial-gradient(0px at 589.8px -0.800018px, rgb(0, 193, 149), transparent 80%); opacity: 1; transform: none;"
    >
      <input
        class="flex h-10 w-full rounded-md border-none placeholder:text-white/80 bg-[#00353d] px-3 py-2 text-sm transition duration-500 group-hover/input:shadow-none file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:ring-2 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 text-white shadow-[0px_0px_1px_1px_#00c195] focus-visible:ring-white"
        id="email"
        placeholder="radiodándelion@gmail.com"
        type="email"
      />
    </div>
  </div>

  <div class="flex w-full flex-col space-y-2 mb-4">
    <label
      class="text-base font-medium text-white leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
      for="menssage">Mensaje</label
    ><div
      class="group/input rounded-lg transition duration-300"
      style="background: radial-gradient(0px at 384.8px -0.799988px, rgb(0, 193, 149), transparent 80%); opacity: 1; transform: none;"
    >
      <input
        class="flex h-10 w-full rounded-md border-none placeholder:text-white/80 bg-[#00353d] px-3 py-2 text-sm transition duration-500 group-hover/input:shadow-none file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:ring-2 focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50 text-white shadow-[0px_0px_1px_1px_#00c195] focus-visible:ring-white"
        id="menssage"
        placeholder="Escribe tu texto"
        type="text"
      />
    </div>
  </div>

  <button
    class="group/btn relative block h-10 w-full rounded-md font-medium shadow-[0px_1px_0px_0px_#00c195_inset,0px_-1px_0px_0px_#00c195_inset] placeholder:text-white/60 bg-white/10"
    type="submit"
    >Enviar Mensaje →<span
      class="absolute inset-x-0 -bottom-px block h-px w-full bg-linear-to-r from-transparent via-[#00c195] to-transparent opacity-0 transition duration-500 group-hover/btn:opacity-100"
    ></span><span
      class="absolute inset-x-10 -bottom-px mx-auto block h-px w-1/2 bg-linear-to-r from-transparent via-[#00c195] to-transparent opacity-0 blur-sm transition duration-500 group-hover/btn:opacity-100"
    ></span></button
  >
</form>
