---
import { twMerge } from "tailwind-merge";

interface Props {
  id?: string;
  class?: string;
  spanClass?: string;
  type?: "button" | "submit" | "reset";
  href?: string;
}

const { id, class: className, spanClass, type = "button", href } = Astro.props;

const Tag = href ? "a" : "button";

const baseClasses =
  "group relative inline-flex h-12 cursor-pointer items-center justify-center overflow-hidden rounded-md bg-neutral-950 px-6 font-medium text-neutral-200 duration-500";

const contentClasses =
  "translate-y-0 transition duration-200 group-hover:-translate-y-[150%]";
const contentHoverClasses =
  "absolute translate-y-[150%] duration-200 transition group-hover:translate-y-0";
---

<Tag
  id={id}
  href={href}
  type={Tag === "button" ? type : undefined}
  class={twMerge(baseClasses, className)}
>
  <div class={twMerge(contentClasses, spanClass)}>
    <slot />
  </div>

  <div class={twMerge(contentHoverClasses, spanClass)}>
    <slot />
  </div>
</Tag>
